@font-face {
    font-family: FontMetropolis;
    src: url(../../../font/metropolis/Metropolis-Bold.otf);
}
@font-face {
    font-family: FontMetropolisLight;
    src: url(../../../font/metropolis/Metropolis-Light.otf);
}
@font-face {
    font-family: FontMetropolisSemi;
    src: url(../../font/metropolis/Metropolis-SemiBold.otf);
}
@font-face {
    font-family: FontMetropolisMed;
    src: url(../../font/metropolis/Metropolis-Medium.otf);
}
html, body, header{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

/* Header */
header nav .container{
    height: 80px;
    width: 100%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
.wrapperLogo{
    position: absolute;
    width: 140px;
    height: 44px;
    left: 150px;
    top: 25px;
    /* border: 1px solid black; */
}
.logo img{
    position: absolute;
    width: 31.54px;
    height: 44px;
    left: 0px;
    top: 0px;
}
.Blanja{
    position: absolute;
    width: 73px;
    height: 20px;
    left: 40px;
    top: 15px;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #DB3022;
}
.wrapperinput{
    position: absolute;
    width: 570px;
    height: 44px;
    left: 330px;
    top: 30px;
    /* border: 1px solid black; */
}
input{
    position: absolute;
    width: 507px;
    height: 40px;
    top: 0px;
    left: 0px;
    border-radius: 23px;    
    background: none;
    border: 1px solid #8E8E93;
    /* font */
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
}
input:focus{
    outline: none;
}
.imgsearch{
    position: absolute;
    left: 475px;
    top: 11px;
    height: 18px;
    width: 18px;
}
.aFilter{
    position: absolute;
    left: 520px;
    top: 0px;
    height: 40px;
    width: 40px;
    border: 1px solid #8E8E93;
    border-radius: 12px;
}
.imgFilter{
    position: absolute;
    left: 10px;
    top: 11px;
    height: 18px;
    width: 18px;
}
.wrapperOrder{
    position: absolute;
    width: 400px;
    height: 44px;
    left: 1050px;
    top: 30px;
    /* border: 1px solid black; */
}
.imgOrder{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 50px;
    top: 8px;
}
.imgNotif{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 110px;
    top: 8px;
}
.imgChat{
    position: absolute;
    width: 28px;
    height: 20px;
    left: 170px;
    top: 10px;
}
.imgProfil{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 235px;
    top: 8px;
    border: 1px solid #8E8E93;
    border-radius: 50%;
}
/* Akhir Header */


/* Body */
body article .container{
    height: 700px;
    width: 100%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.container .tag{
    position: absolute;
    margin-left: 40px;
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}
.h1{
    position: absolute;
    margin-left: 40px;
    height: 34px;
    top: 240px;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
}
.wrapperRef{
    position: absolute;
    height: 250px;
    width: 1295px;
    top: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
    /* border: 1px solid black; */
}
.boxRef{
    height: 248px;
    width: 208px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
    border: 1px solid black;
}
.boxRef img{
    width: 206px;
    height: 136px;
    border-radius: 8px 8px 0px 0px;
}
.boxRef .judul{
    font-family: fontMetropolisSemi;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
}
.boxRef .price{
    font-family: fontMetropolisSemi;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    color: #DB3022;
}
.boxRef p{
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
    padding-left: 20px;
}
.wrapperRef2{
    position: absolute;
    height: 250px;
    width: 1295px;
    top: 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
    /* border: 1px solid black; */
}