@font-face {
    font-family: FontMetropolis;
    src: url(../../../font/metropolis/Metropolis-Bold.otf);
}
@font-face {
    font-family: FontMetropolisLight;
    src: url(../../../font/metropolis/Metropolis-Light.otf);
}
@font-face {
    font-family: FontMetropolisSemi;
    src: url(../../font/metropolis/Metropolis-SemiBold.otf);
}
@font-face {
    font-family: FontMetropolisMed;
    src: url(../../font/metropolis/Metropolis-Medium.otf);
}
html, body, header{
    padding: 0;
    margin: 0;
    background-color: #E5E5E5;;
}

/* Header */
header nav .container{
    height: 80px;
    width: 100%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
.wrapperLogo{
    position: absolute;
    width: 140px;
    height: 44px;
    left: 150px;
    top: 25px;
    /* border: 1px solid black; */
}
.logo img{
    position: absolute;
    width: 31.54px;
    height: 44px;
    left: 0px;
    top: 0px;
}
.Blanja{
    position: absolute;
    width: 73px;
    height: 20px;
    left: 40px;
    top: 15px;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #DB3022;
}
.wrapperinput{
    position: absolute;
    width: 570px;
    height: 44px;
    left: 330px;
    top: 30px;
    /* border: 1px solid black; */
}
input{
    position: absolute;
    width: 507px;
    height: 40px;
    top: 0px;
    left: 0px;
    border-radius: 23px;    
    background: none;
    border: 1px solid #8E8E93;
    /* font */
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
}
input:focus{
    outline: none;
}
.imgsearch{
    position: absolute;
    left: 475px;
    top: 11px;
    height: 18px;
    width: 18px;
}
.aFilter{
    position: absolute;
    left: 520px;
    top: 0px;
    height: 40px;
    width: 40px;
    border: 1px solid #8E8E93;
    border-radius: 12px;
}
.imgFilter{
    position: absolute;
    left: 10px;
    top: 11px;
    height: 18px;
    width: 18px;
}
.wrapperOrder{
    position: absolute;
    width: 400px;
    height: 44px;
    left: 1050px;
    top: 30px;
    /* border: 1px solid black; */
}
.imgOrder{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 50px;
    top: 8px;
}
.imgNotif{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 110px;
    top: 8px;
}
.imgChat{
    position: absolute;
    width: 28px;
    height: 20px;
    left: 170px;
    top: 10px;
}
.imgProfil{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 235px;
    top: 8px;
    border: 1px solid #8E8E93;
    border-radius: 50%;
}
/* Akhir Header */

body .container{
    height: 650px;
    /* border: 1px solid black; */
}
.box{
    position: absolute;
    width: 320px;
    height: 583px;
    left: 150px;
    top: 175px;

    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
}
h2{
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: fontMetropolisMed;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
}
.line{
    position: absolute;
    width: 320px;
    height: 2px;
    left: 0px;
    top: 80px;
    border: 1px solid #D4D4D4;
}
.wrapper{
    position: absolute;
    width: 320px;
    height: 60px;
    top: 100px;
    /* border: 1px solid black; */
}
.wrapper img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 15px;
}
.wrapper .name{
    margin-left: 70px;
    margin-top: -35px;
    font-family: fontMetropolisMed;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
color: #222222;
}
.wrapper .text{
    margin-left: 70px;
    margin-top: -10px;
    font-family: fontMetropolisLight;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #9B9B9B;
}
.box2{
    position: absolute;
    width: 830px;
    height: 583px;
    left: 480px;
    top: 175px;

    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
}
.line2{
    position: absolute;
    width: 830px;
    height: 2px;
    left: 480px;
    top: 255px;
    border: 1px solid #D4D4D4;
}
.wrapper2{
    position: absolute;
    width: 320px;
    height: 60px;
    top: 188px;
    left: 490px;
    /* border: 1px solid black; */
}
.wrapper2 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 15px;
}
.wrapper2 .name{
    margin-left: 70px;
    margin-top: -28px;
    font-family: fontMetropolisMed;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
color: #222222;
}
.inp2{
    height: 40px;
    width: 674px;
    left: 534px;
    top: 680px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 23px;
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #9B9B9B;
}
a img{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 680px;
    right: 260px;
}