@font-face {
    font-family: FontMetropolis;
    src: url(../../../font/metropolis/Metropolis-Bold.otf);
}
@font-face {
    font-family: FontMetropolisLight;
    src: url(../../../font/metropolis/Metropolis-Light.otf);
}
@font-face {
    font-family: FontMetropolisSemi;
    src: url(../../font/metropolis/Metropolis-SemiBold.otf);
}
html, body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

/* Nav */
.container{
    height: 80px;
    width: 100%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
.wrapperLogo{
    position: absolute;
    width: 140px;
    height: 44px;
    left: 150px;
    top: 25px;
    /* border: 1px solid black; */
}
.logo img{
    position: absolute;
    width: 31.54px;
    height: 44px;
    left: 0px;
    top: 0px;
}
.Blanja{
    position: absolute;
    width: 73px;
    height: 20px;
    left: 40px;
    top: 15px;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #DB3022;
}
.wrapperinput{
    position: absolute;
    width: 570px;
    height: 44px;
    left: 330px;
    top: 30px;
    /* border: 1px solid black; */
}
input{
    position: absolute;
    width: 507px;
    height: 40px;
    top: 0px;
    left: 0px;
    border-radius: 23px;    
    background: none;
    border: 1px solid #8E8E93;
    /* font */
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
}
input:focus{
    outline: none;
}
.imgsearch{
    position: absolute;
    left: 475px;
    top: 11px;
    height: 18px;
    width: 18px;
}
.aFilter{
    position: absolute;
    left: 520px;
    top: 0px;
    height: 40px;
    width: 40px;
    border: 1px solid #8E8E93;
    border-radius: 12px;
}
.imgFilter{
    position: absolute;
    left: 10px;
    top: 11px;
    height: 18px;
    width: 18px;
}
.wrapperOrder{
    position: absolute;
    width: 400px;
    height: 44px;
    left: 1000px;
    top: 30px;
    /* border: 1px solid black; */
}
.wrapperOrder img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 50px;
    top: 8px;
}
.btnLogin{
    position: absolute;
    width: 100px;
    height: 36px;
    left: 135px;
    top: 3px;
    background: #DB3022;
    border: none;
    border-radius: 25px;
    /* font */
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.btnSignup{
    position: absolute;
    width: 100px;
    height: 36px;
    left: 250px;
    top: 3px;
    background: none;
    border: 1px solid #9B9B9B;
    border-radius: 25px;
    /* font */
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B; 
}
/* Akhir Nav */


/* Section */
.container2{
    width: 1180px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.box1{
    width: 70px;
    height: 180px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-image: url(../../image/ian-dooley-C6BrEIucDDU-unsplash\ 1.png);
}
.box2{
    width: 445px;
    height: 180px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-image: url(../../image/benjamin-voros-TnNo84AJJ5A-unsplash\ 1.png);   
}
.textContent1{
    margin-left: 80px;
    margin-top: 80px;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    color: #FFFFFF;
}
.textContent2{
    margin-left: 100px;
    margin-top: 75px;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    color: #FFFFFF;
}
.box3{
    width: 445px;
    height: 180px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-image: url(../../image/ian-dooley-10ca-K3e6Ko-unsplash\ 1.png);   
}
.box4{
    width: 70px;
    height: 180px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-image: url(../../image/jonathan-francisca-HY-Nr7GQs3k-unsplash\ 1.png);
}
.arrow1{
    margin-left: -60px;
    margin-top: 55px;
}
.arrow2{
    margin-left: -60px;
    margin-top: 55px;
}
.pointSlide{
    margin-top: 190px;
    width: 100px;
    height: 10px;
    /* border: 1px solid black; */
}
/* Akhir Section */


/* Article */
.container3{
    width: 100%;
    height: 360px;
    background-color: #F0F1F9;
}
.content{
    width: 250px;
    height: 280px;
    margin-left: 155px;
    /* border: 1px solid black; */
}
h1{
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
    margin-top: 50px;
}
p{
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
    margin-top: -20px;
}
.wrapperArrow{
    margin-top: 50px;
    width: 130px;
    height: 52px;
}
.arrowCategory{
    width: 52px;
    height: 52px;
}
.wrapperContentCategory{
    height: 220px;
    width: 900px;
    /* border: 1px solid black; */
    margin-left: 50px;
}
.boxCategory{
    height: 280px;
    width: 940px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid black; */

}
.boxC4{
    width: 180px;
    height: 220px;
    left: 1111px;
    top: 460px;
    margin-left: 20px;
    margin-top: 30px;

    background: #E31F51;
    border-radius: 8px 0px 0px 8px;
}
.boxC3{
    width: 206px;
    height: 220px;
    left: 1111px;
    top: 460px;
    margin-left: 20px;
    margin-top: 30px;
    
    background: #F67B02;
    border-radius: 8px; 
}
.boxC2{
    width: 206px;
    height: 220px;
    left: 1111px;
    top: 460px;
    margin-left: 20px;
    margin-top: 30px;
    
    background: #1C3391;
    border-radius: 8px;
}
.boxC1{
    width: 206px;
    height: 220px;
    left: 1111px;
    top: 460px;
    margin-left: 20px;
    margin-top: 30px;
    
    background: #CC0B04;
    border-radius: 8px;
}
.wrapperTshirt{
    width: 116px;
    height: 146px;
    position: relative;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 40px;
}
.wrapperShorts{
    width: 158px;
    height: 146px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 40px;
}
.wrapperJacket{
    width: 131px;
    height: 131px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 40px;
}
.wrapperPants{
    width: 76px;
    height: 131px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 40px;
}
.heading{
    position: absolute; top: 25%; left: 7%;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}
.heading2{
    position: absolute; bottom: 15%;
    padding-left: 35px;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}
.heading3{
    position: absolute; bottom: 15%;
    padding-left: 20px;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}
.heading4{
    position: absolute; bottom: 15%;
    font-family: fontMetropolis;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}
.pointSlideCategory{
    margin-left: 300px;
    margin-top: 20px;
    width: 100px;
    height: 10px;
    /* border: 1px solid black; */
}
/* Akhir article */


/* article */
.headersArticle{
    height: 50px;
    width: 165px;
    margin-left: 155px;
}
.container4{
    width: 1180px;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid black; */
}
.boxProduct{
    width: 208px;
    height: 278px;
    left: 150px;
    top: 895px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}
.boxProduct img{
    width: 208px;
    height: 136px;
    border-radius: 8px 8px 0px 0px;
}
.boxProduct .judul{
    font-family: fontMetropolisSemi;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
}
.wrapperPrice{
    margin-top: -10px;
    margin-bottom: 25px;
}
.boxProduct .price{
    font-family: fontMetropolisSemi;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    color: #DB3022;
}
.boxProduct p{
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
    padding-left: 20px;
}
.boxProduct .rating{
    padding-left: 20px;
    font-family: fontMetropolisLight;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 8px;
color: #9B9B9B;
}
.checked{
    color: orange;
}

.container5{
    width: 1180px;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-left: 15px;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.container6{
    width: 1180px;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-left: 15px;
    margin-top: 250px;
    /* border: 1px solid black; */
}

/* Article Popular */
.headersPopular{
    height: 50px;
    width: 265px;
    margin-left: 155px;
    margin-top: 300px;
}
  
.container7{
    width: 1180px;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-left: 175px;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.container8{
    width: 1180px;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-left: 22px;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.container9{
    width: 1180px;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-left: 22px;
    margin-top: 250px;
    /* border: 1px solid black; */
}