@font-face {
    font-family: FontMetropolis;
    src: url(../../../font/metropolis/Metropolis-Bold.otf);
}
@font-face {
    font-family: FontMetropolisLight;
    src: url(../../../font/metropolis/Metropolis-Light.otf);
}
@font-face {
    font-family: FontMetropolisSemi;
    src: url(../../font/metropolis/Metropolis-SemiBold.otf);
}
@font-face {
    font-family: FontMetropolisMed;
    src: url(../../font/metropolis/Metropolis-Medium.otf);
}
html, body, header{
    background-color: #FFFFFF;
}
.container{
    /* position: absolute; */
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.content{
    position: absolute;
    width: 810px;
    height: 675px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 8px;
}
a img{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 24.5px;
    height: 24.5px;
}
.p1{
    position: absolute;
    left: 250px;
    top: 70px;
    font-family: FontMetropolisSemi;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    color: #222222;
}
.box{
    box-sizing: border-box;
    position: absolute;
    width: 710px;
    height: 86px;
    left: 48px;
    top: 150px;
    border: 1px dashed #9B9B9B;
    border-radius: 8px;
}
.p2{
    position: absolute;
    left: 275px;
    top: 35px;
    font-family: FontMetropolisSemi;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #9B9B9B;
}
.box2{
    position: absolute;
    width: 710px;
    height: 170px;
    left: 48px;
    top: 280px;

    background: #FFFFFF;
    border: 1px solid #DB3022;
    border-radius: 4px;
}
.p3{
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: fontMetropolisMed;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
}
.p4{
    position: absolute;
    width: 650px;
    top: 60px;
    left: 30px;
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
}
.p5{
    position: absolute;
    top: 120px;
    left: 30px;
    font-family: fontMetropolisMed;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #DB3022;
}