@font-face {
    font-family: fontMetropolis;
    src: url("../font/metropolis/Metropolis-ExtraLight.otf");
}
@font-face {
    font-family: fontMetropolisSemi;
    src: url("../font/metropolis/Metropolis-SemiBold.otf");
}
@font-face {
    font-family: fontMetropolisBold;
    src: url("../font/metropolis/Metropolis-Bold.otf");
}
.container{
    height: 100px;
}
.navbar .navbar-brand img{
    width: 41px;
    height: 54px;
}
.navbar .navbar-brand span{
    font-family: fontMetropolisBold;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #DB3022;
}
.d-flex{
    border: 1px solid black;
}
/* .navbar .d-flex input{
    height: 40px;
    width: 507px;
    border-radius: 23px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
}
input{
    width: 507px;
    height: 40px;
    border-radius: 23px;    
    background: none;
    border: 1px solid #8E8E93;
    font-family: fontMetropolisLight;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
}
.imgsearch{
    position:relative ;
    right: 30px;
    top: 5px;
    height: 18px;
    width: 18px;
}
.aFilter{
    position: relative;
    left: 0;
    top: 0px;
    height: 40px;
    width: 40px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 12px;
}
.imgFilter{
    position: relative;
    left: 10px;
    top: 5px;
    height: 18px;
    width: 18px;
}
#flex{
    width: 300px;
    height: 46px;
    border: 1px solid black;
} */

/* #Blanja{
    margin-left: -10px;
    margin-top: 10px;
    font-family: fontMetropolisBold;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #DB3022;
}
#inputSearch{
    margin-left: 100px;
    height: 40px;
width: 507px;
border-radius: 23px;
background: #FFFFFF;
border: 1px solid #8E8E93;
font-family: fontMetropolis;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
color: #9B9B9B;
} */
